.menu-group-wrapper {
  width: 296px;
  min-height: 36px;
  line-height: 36px;
  border-radius: 4px;
  background: #ffffff;
  font-family: 'HarmonyOS_Sans_SC';
  box-shadow: 0 1px 4px 0 rgba(37, 43, 58, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-label {
  padding-left: 16px;
  border-radius: 4px;
  font-weight: bold;
  color: #252b3a;
  transition: 0.3s;
}

.menu-label-selected {
  background-color: #e9edfa;
}

.projectDirectory-menu-open {
  border-bottom: 1px solid #eef0f5;
}

.projectDirectory-menu-open .menu-label-selected {
  border-radius: 4px 4px 0 0;
}

.sub-menu-label {
  margin: 6px 16px;
  border-radius: 2px;
  overflow: hidden;
  transition: 0.3s;
  color: #252b3a;
  display: flex;
  flex-wrap: nowrap;
}

.sub-menu-label:hover {
  background-color: #e9edfa66;
}

.sub-menu-label-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-menu-icon {
  height: 16px;
  margin: 4px;
}

.sub-menu-icon img {
  height: 16px;
  width: 16px;
}

.sub-menu-arrow img {
  height: 8px;
  width: 8px;
  transition: 0.3s;
}

.menu-arrow-open {
  transform: rotate(0);
}

.menu-arrow-close {
  transform: rotate(-90deg);
}

.sub-menu-selected {
  font-weight: bold;
  background-color: #e9edfa;
}

.sub-menu {
  transition: 0.5s;
  overflow: hidden;
}

.sub-menu-open {
  min-height: 36px;
}

.sub-menu-close {
  height: 0;
}

.sub-menu-hidden {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}
