.message-detail-card {
  position: relative;
  padding: 19px 25px 21px 25px;
  margin-right: 0;
  min-width: 840px;
  transition: 0.3s;
}

.message-detail-header {
  width: 100%;
  box-sizing: border-box;
}

.message-detail-title {
  font-size: 18px;
  color: #252b3a;
  line-height: 22px;
  font-weight: normal;
}

.message-detail-path {
  font-size: 14px;
  color: #71757f;
  line-height: 22px;
  margin-top: 6px;
}

.show-suggestion-button-wrapper {
  position: absolute;
  right: 24px;
  top: 28px;
}

.show-suggestion-button {
  background-image: linear-gradient(74deg, #fc85b0 0%, #a97af9 81%);
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  border: none;
  padding: 4px 23px;
  box-shadow: 0 2px 6px 0 rgba(27, 43, 58, 0.12);
}

.show-suggestion-button:hover {
  opacity: 0.8;
}

.show-suggestion-button:active {
  opacity: 1;
}

.message-detail-describe {
  margin: 24px 0;
  color: #252b3a;
  line-height: 22px;
}

.message-suggestion-wrapper-background {
  height: 100vh;
  background: #ffffff;
  width: 463px;
  position: fixed;
  top: 0;
  transition: 0.3s;
  box-shadow: 0 2px 6px 0 rgba(37, 43, 58, 0.12);
}

.message-suggestion-wrapper {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(44deg, #75fc3800 0%, #b98ed521 31%, #36d1e70f 100%, #36d1e80f 100%);
}

.message-suggestion-name-wrapper {
  display: flex;
  padding: 18px 21px;
}

.message-suggestion-icon-wrapper {
  margin-right: 20px;
}

.message-suggestion-icon {
  background-image: linear-gradient(0deg, #fc85b0 0%, #a97af9 100%);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.message-suggestion-name {
  font-size: 18px;
  color: #252b3a;
  line-height: 22px;
  white-space: nowrap;
  flex: 1;
}

.message-suggestion-close-wrapper {
  cursor: pointer;
}

.message-suggestion-close {
  height: 16px;
  width: 16px;
}
