.message-detail-card {
  position: relative;
  padding: 19px 25px 21px 25px;
  margin-right: 0;
  min-width: 840px;
  transition: 0.3s;
}

.message-detail-header {
  width: 100%;
  box-sizing: border-box;
}

.message-detail-title {
  font-size: 18px;
  color: #252b3a;
  line-height: 22px;
  font-weight: normal;
}

.message-detail-path {
  font-size: 14px;
  color: #71757f;
  line-height: 22px;
  margin-top: 6px;
}

.show-suggestion-button-wrapper {
  position: absolute;
  right: 24px;
  top: 28px;
}

.show-suggestion-button {
  background-image: linear-gradient(74deg, #fc85b0 0%, #a97af9 81%);
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  border: none;
  padding: 4px 23px;
  box-shadow: 0 2px 6px 0 rgba(27, 43, 58, 0.12);
}

.show-suggestion-button:hover {
  opacity: 0.8;
}

.show-suggestion-button:active {
  opacity: 1;
}

.test-fixed {
  height: 100vh;
  /* width: 463px; */
  background: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s;
  box-shadow: 0 2px 6px 0 rgba(37, 43, 58, 0.12);
}
