.code-card-wrapper {
  margin-top: 24px;
}

.code-card-describe-wrapper {
  display: flex;
  align-items: center;
}

.describe-arrow {
  width: 12px;
  margin: 0 12px 0 4px;
}

.code-card-describe {
  font-size: 14px;
  color: #252b3a;
  line-height: 22px;
}

.code-card-content {
  background: #ffffff;
  border: 1px solid #f2f2f380;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(27, 43, 58, 0.12);
  margin-top: 12px;
  display: flex;
  overflow: hidden;
}

.code-card {
  width: 50.5%;
  box-sizing: border-box;
}

.code-card-only-before {
  width: 100%;
  box-sizing: border-box;
}

.code-card:first-child {
  width: 49.5%;
  border-right: 1px solid #dfe1e6;
}

.code-card-title {
  padding: 5px 14px;
  font-size: 14px;
  color: #252b3a;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(180deg, #e1e8ff73 0%, #d9e2ffff 100%);
}

.title-before-convert {
  background-image: linear-gradient(180deg, #ffffff 0%, #f7f8fa 100%);
  position: relative;
}

.title-before-convert::after {
  content: '';
  height: 0;
  width: 0;
  border: 16px solid transparent;
  border-left: 13px solid #fbfbfb;
  border-right: 0;
  position: absolute;
  right: -13px;
  top: 0;
}

.title-before-convert::before {
  content: '';
  height: 0;
  width: 0;
  border: 16px solid transparent;
  border-left: 13px solid #dfe1e6;
  border-right: 0;
  position: absolute;
  right: -14px;
  top: 0;
}

.title-after-convert {
  padding-left: 27px;
}

.code-card-path {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.code-card-location {
  font-size: 12px;
  white-space: nowrap;
}

.code-detail {
  padding: 14px;
  font-size: 12px;
  line-height: 20px;
  color: #252b3a;
  white-space: pre-wrap;
}
