.report-wrapper {
  background: #f6f6f8;
  min-height: 100%;
}

.menu-wrapper {
  padding: 16px 29px 0 27px;
  z-index: 999;
}

.convertor-report-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.convertor-report-icon {
  height: 48px;
  width: 48px;
  border-radius: 8px;
  background-image: linear-gradient(134deg, #4ac7e0 0%, #3c5cca 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.convertor-report-name {
  margin: 9px 12px;
  font-weight: bold;
  font-size: 18px;
  color: #252b3a;
}

.breadcrumb-wrapper {
  margin: 26px 0 16px 26px;
  font-size: 18px;
}

.report-message-content {
  padding: 12px 26px;
}

.report-message-card {
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(37, 43, 58, 0.12);
  border-radius: 8px;
}
